
.container{
   width:15rem;
   height: 15rem;
   /* background-color: pink; */
   background: transparent;
 margin : 10% 60% 0px;
 position: absolute;
}

.circle-Trial-codepen{
   border: 3px solid black;
   width:100%;
   height: 100%;
   border-radius: 50%;
   background:transperent;
 animation: circleBorder 7.2s infinite alternate;
   
}

@keyframes circleBorder1 {
   from{
       transform: rotateZ(15deg) rotateY(360deg);
   }
   to{
       transform: rotateZ(-15deg) rotateY(-360deg);
   }
}

@keyframes circleBorder {
   from{
       transform: rotateZ(15deg);
   }
   to{
       transform: rotateZ(-15deg);
   }
}

.circle-Trial-codepen .rings{
   width:100%;
   height: 100%;
   border-radius: 50%;
   position: absolute;
   top: 0px;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   overflow: hidden;
   animation :circle1 2.7s linear infinite;
}

.circle-Trial-codepen .rings:nth-child(1){
   animation-delay: 2.7s;
}

.circle-Trial-codepen .rings:nth-child(2){
   animation-delay: 1.8s;
}

.circle-Trial-codepen .rings:nth-child(3){
   animation-delay: 0.9s;
}

.circle-hor-trial {
   width: 90%;
   border-radius: 0%;
   height: 7.5rem;
   transform: translateY(3.5rem);
   border-top: solid black;
   border-bottom: solid black;
   font-size: 1rem;
   margin: auto;
 
}

.circle-hor-trial-midd{
   position: absolute;
   width: 100%;
   height: 0.15rem;
   /* transform: translateY(7.3rem); */
   margin: auto;
   box-shadow: inset 0px 0px 0px .15em black;
   font-size: 1rem;
 }  

@keyframes circle1 {
   0%   {border-radius: 50%; box-shadow: inset .1em 0px 0px .08em black; width: 100%; }
   49%  {border-radius: 50%; box-shadow: inset .1em 0px 0px .08em black; background: transparent;}
   50%  {border-radius: 0%; width: .175em; background: black;}
   51%  {border-radius: 50%; box-shadow: inset -.1em 0px 0px .08em black; background: transparent;}
   100% {border-radius: 50%; box-shadow: inset -.1em 0px 0px .08em black; width: 100%;}
}
@keyframes animaterings {
   from{
       transform: rotateY(0deg) ;
   }
 to{
       transform: rotateY(180deg);
   }
}
/* Small Ring for developer tag */


.circleContainer{
   width:10rem;
   height: 10rem;
   background: transparent;
   transition: 2s ease-in-out;
}

.CircleRing{
   border: 3px solid pink;
   width:100%;
   height: 100%;
   border-radius: 50%;
   background:transperent;
   animation: circleBorder 7.2s infinite alternate;
   
}

@keyframes circleBorder1 {
   from{
       transform: rotateZ(15deg) rotateY(360deg);
   }
   to{
       transform: rotateZ(-15deg) rotateY(-360deg);
   }
}

@keyframes circleBorder {
   from{
       transform: rotateZ(15deg);
   }
   to{
       transform: rotateZ(-15deg);
   }
}

.circle-Trial-codepen .rings{
   width:100%;
   height: 100%;
   border-radius: 50%;
   position: absolute;
   top: 0px;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   overflow: hidden;
   animation :circle1 2.7s linear infinite;
}

.circle-Trial-codepen .rings:nth-child(1){
   animation-delay: 2.7s;
}

.circle-Trial-codepen .rings:nth-child(2){
   animation-delay: 1.8s;
}

.circle-Trial-codepen .rings:nth-child(3){
   animation-delay: 0.9s;
}

.circle-hor-trial {
   width: 90%;
   border-radius: 0%;
   height: 7.5rem;
   transform: translateY(3.5rem);
   border-top: solid black;
   border-bottom: solid black;
   font-size: 1rem;
   margin: auto;
 
}

.circle-hor-trial-midd{
   position: absolute;
   width: 100%;
   height: 0.15rem;
   /* transform: translateY(7.3rem); */
   margin: auto;
   box-shadow: inset 0px 0px 0px .15em black;
   font-size: 1rem;
 }  

@keyframes circle1 {
   0%   {border-radius: 50%; box-shadow: inset .1em 0px 0px .08em black; width: 100%; }
   49%  {border-radius: 50%; box-shadow: inset .1em 0px 0px .08em black; background: transparent;}
   50%  {border-radius: 0%; width: .175em; background: black;}
   51%  {border-radius: 50%; box-shadow: inset -.1em 0px 0px .08em black; background: transparent;}
   100% {border-radius: 50%; box-shadow: inset -.1em 0px 0px .08em black; width: 100%;}
}
@keyframes animaterings {
   from{
       transform: rotateY(0deg) ;
   }
 to{
       transform: rotateY(180deg);
   }
}
/* Stylefor tab animation creation */

.project-content{
   width: 100%;
   height: 100%;
   background-color: #ddd;
   border: 1px #eaf3f2;
   border-radius: .8em;
   padding: 0 .25em .25em;
   transition: all .4s;
   position: relative;
   overflow: hidden;
}
.case-to-top{
   background-color: #ddd;
   justify-content: center;
   align-items: center;
   padding-bottom: .25rem;
   display: flex;
   position: relative;
   overflow: hidden;
}

.is-url-wrap{
   grid-column-gap: .4rem;
   background-color: #e5e5e5;
   background-image: url(https://assets-global.website-files.com/64653ddbdd2b114ca9c5d299/6491ccfdfc72deabe6de0d0e_rechts.svg),url(https://assets-global.website-files.com/64653ddbdd2b114ca9c5d299/6491ccf501942a5e255b8d9d_links.svg);
   background-position: 100%,0%;
   background-repeat: no-repeat,no-repeat;
   background-size: contain,contain;
   border-bottom: 1px #b6bcbf;
   border-left: 1px #b6bcbf;
   border-right: 1px #b6bcbf;
   justify-content: center;
   align-items: center;
   padding-top: 0;
   padding-bottom: 0;
   display: flex;
   overflow: hidden;
}
.projects_content {
   width: 100%;
   height: 100%;
   background-color: #ddd;
   border: 1px #eaf3f2;
   border-radius: .8em;
   padding: 0 .25em .25em;
   transition: all .4s;
   position: relative;
   overflow: hidden
}

.projects_content.is-bg-black-50 {
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0
}

.projects_content.is-popup {
   background-image: url(https://assets-global.website-files.com/64653ddbdd2b114ca9c5d299/6491d46e52ac2b535a8e7caf_bg-element.svg);
   background-position: 100% 100%;
   background-repeat: no-repeat;
   background-size: auto
}

.visual_wrap {
   position: relative
}

.case-top-wrap {
   background-color: #ddd;
   justify-content: center;
   align-items: center;
   padding-bottom: .25rem;
   display: flex;
   position: relative;
   overflow: hidden
}

.is-url-wrap {
   grid-column-gap: .4rem;
   background-color: #e5e5e5;
   background-image: url(https://assets-global.website-files.com/64653ddbdd2b114ca9c5d299/6491ccfdfc72deabe6de0d0e_rechts.svg),url(https://assets-global.website-files.com/64653ddbdd2b114ca9c5d299/6491ccf501942a5e255b8d9d_links.svg);
   background-position: 100%,0%;
   background-repeat: no-repeat,no-repeat;
   background-size: contain,contain;
   border-bottom: 1px #b6bcbf;
   border-left: 1px #b6bcbf;
   border-right: 1px #b6bcbf;
   justify-content: center;
   align-items: center;
   padding-top: 0;
   padding-bottom: 0;
   display: flex;
   overflow: hidden
}

.is-url-wrap.is-bg-black-50 {
   height: 1.2rem;
   background-color: #000;
   background-position: 101%,-1px
}

.ssl-icon {
   width: .5rem;
   height: .5rem;
   justify-content: center;
   align-items: center;
   display: flex
}

.projects_heading {
   color: #ddd;
   font-size: .5rem;
   line-height: 1.2
}

.projects_heading.is-txt-black-150 {
   color: #050506
}

.projects_list {
   margin-left: 0;
   margin-right: 0
}

.projects_item {
   z-index: 0;
   cursor: default;
   align-items: center;
   padding-bottom: 4rem;
   padding-left: 0;
   padding-right: 0;
   display: flex
}

.projects_item:nth-child(2n+1) {
   padding-right: 2.7em
}

.projects_item:nth-child(2n) {
   padding-left: 2.5em
}

.button_fill {
   z-index: 1;
   width: 0%;
   height: 100%;
   background-color: #f8f8f8;
   border-radius: 100vw;
   position: absolute;
   top: 0%;
   bottom: 0%;
   left: 0%;
   right: auto
}

/*                 <img src="https://cdn.builder.io/api/v1/image/assets%2F7f2a427c7e5d46d486cd081a3a926bdc%2F69577720e74c417ab27cdf80cc65c3f2?format=webp&width=400">
 */