/* Small Ring for developer tag */


.circleContainer{
   width: 7rem;
   height: 7rem;
   background: transparent;
   transition: 2s ease-in-out;
   -webkit-transition: 2s ease-in-out;
   -moz-transition: 2s ease-in-out;
   -ms-transition: 2s ease-in-out;
   -o-transition: 2s ease-in-out;
}

.CircleRing{
   border: 3px solid white;
   width:100%;
   height: 100%;
   border-radius: 50%;
   background:transparent;
   animation: circleBorder 7.2s infinite alternate;
   -webkit-animation: circleBorder 7.2s infinite alternate;
}


@keyframes circleBorder {
   from{
       transform: rotateZ(15deg);
   }
   to{
       transform: rotateZ(-15deg);
   }
}

.CircleRing .verticalRings{
   width:100%;
   height: 100%;
   border-radius: 50%;
   position: absolute;
   top: 0px;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   overflow: hidden;
   animation :ringsAnimation 2.7s linear infinite;
}

.CircleRing .verticalRings:nth-child(1){
   animation-delay: 2.7s;
}

.CircleRing .verticalRings:nth-child(2){
   animation-delay: 1.8s;
}

.CircleRing .verticalRings:nth-child(3){
   animation-delay: 0.9s;
}

.horizontalRing {
   width: 88%;
   border-radius: 0%;
   border-top: solid white;
   border-bottom: solid white;
   margin: auto;
   position: relative;
   top: 25%;
   height: 50%;
 
}

.horizontalRingMid{
   position: absolute;
   width: 100%;
   border-top: solid white;
   top: 50%; 
 }  

@keyframes ringsAnimation {
   0%   {border-radius: 50%; box-shadow: inset .1em 0px 0px .08em white; width: 100%; }
   49%  {border-radius: 50%; box-shadow: inset .1em 0px 0px .08em white; background: transparent;}
   50%  {border-radius: 0%; width: .175em; background: white;}
   51%  {border-radius: 50%; box-shadow: inset -.1em 0px 0px .08em white; background: transparent;}
   100% {border-radius: 50%; box-shadow: inset -.1em 0px 0px .08em white; width: 100%;}
}

/* Tab Designing */
.projectsImagesShow{
  position: relative;
  height: 25rem;
  width: 30rem;
}

.tabSection{
   height: 20rem;
   width: 25rem;
   margin: auto;
   background-color: #e1e1e1;
   border-radius: 5%;
   position: relative;
   text-align: center;
   box-shadow: 4px 4px 5px 0em #d3d3d3;
   overflow: visible;
}

.tabSubSection{
   height: 1.8rem;
   width: 39%;
   margin: auto;
   background-color: #fff;
   background-image: url("./assets/triangle2.png"),url("./assets/triangle1.png");
   /* background-image: url("./assets/crow.png"); */
   background-position: 100%,0%;
   background-repeat: no-repeat,no-repeat;
   background-size: contain,contain;
   object-fit: fill;
   font-size: small;
   color: #878787;
   display: flex;
   justify-content: center;
   align-self: center;
}

.tabImage{
   height: 90%;
   width: 98%;
   border-radius: 5%;
}

.tabMobSection{ 
  height: 15rem;
  width: 8rem;
  margin: auto;
  background-color: #e1e1e1;
  border-radius: 5%;
  position: absolute;
  left: -2rem;
  text-align: center;
  box-shadow: 4px 4px 5px 0em #d3d3d3;
  bottom: 0rem;
}

.tabMobSubSection{    
  height: 4%;
  width: 50%;
  margin: auto;
  background-color: #fff;
  background-image: url("./assets/triangle2.png"),url("./assets/triangle1.png");
  background-position: 100%,0%;
  background-repeat: no-repeat,no-repeat;
  background-size: contain,contain;
  object-fit: cover;
  font-size: small;
  color: #878787;
  display: flex;
  justify-content: center;
  align-self: center;
}

.tabMobImage{
   height: 95%;
   width: 98%;
   padding: 1%;
   border-radius: 5%;
   object-fit: cover;

}


/* Cube spinner css */


.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);
}
  .cubespinner>div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: rgba(255, 255, 255);
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }

  .face1 {
    transform: translateZ(100px);
    color: #dd0031;
  }
  .face2 {
    transform: rotateY(90deg) translateZ(100px);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #28a4d9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    color: #5ed4f4;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #efd81d;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #ec4d28;
  }



@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

/* hero page 1 */
.page2{
  min-height:120vh;
  width: 100%;
  background-color: antiquewhite;
}

.navBarDesign{
    width: 30rem;
    height: 7rem;
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    right: 0.5rem;
    justify-content: space-around;
    align-items: center;
}

.menuItem {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0rem;
  right: 0rem;
  background-color: aqua;
}

.hero{
  height: 90vh;
  width: 100%;
  background-color: #efd81d;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.heroClass1{
  background-color: #5ed4f4;
  height: 70vh;
  width: 40vh;
}

.heroClass2{
  background-color: #d3d3d3;
  height: 50vh;
  width: 30vh;
}

/* Stylefor tab animation creation */

/* Hr style and the Sticy to navbar from bottom to top scrool */

/* 
.hrBorder{
  height: 0.05em;
  width: 100%;
  background: linear-gradient(in hsl longer hue 90deg, #f66 0 0);
}

.hrNavBorder{
  opacity:1;
  position: sticky;
  top: 5rem;
  height: 0.05em;
  width: 100%;
  background: linear-gradient(in hsl longer hue 90deg, #f66 0 0);
} */

/*                 <img src="https://cdn.builder.io/api/v1/image/assets%2F7f2a427c7e5d46d486cd081a3a926bdc%2F69577720e74c417ab27cdf80cc65c3f2?format=webp&width=400">
 */


 /* Stars */

 /* Stars HTML 
 
 <div class="stage">
                    <div class="stage-cube-cont">
                      <div id="stars"></div>
                      <div id="stars2"></div>
                      <div id="stars3"></div>
                      <div class="cubespinner">
                        <div class="face1">
                          <i class="fab fa-angular"></i>
                        </div>
                        <div class="face2">
                          <i class="fab fa-html5"></i>
                        </div>
                        <div class="face3">
                          <i class="fab fa-css3-alt"></i>
                        </div>
                        <div class="face4">
                          <i class="fab fa-react"></i>
                        </div>
                        <div class="face5">
                          <i class="fab fa-js-square"></i>
                        </div>
                        <div class="face6">
                          <i class="fab fa-git-alt"></i>
                        </div>
                      </div>
                    </div>
                  </div>
 
 