@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    /* font-size: 15px; */
    line-height: 1.5;
    background-color: #e1e1e1;
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
}

#navTabs{
    z-index: 10;
    text-align: center;
    background-color: transparent; 
    margin: 1rem 2rem;
    position: sticky; /* Make it stick/fixed */
    top: 0;
    /* Hide the navbar 50 px outside of the topf view */
    /* bottom: 0px;  */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

#navTabs a {
    text-align: center;
    margin: 1rem 2rem;
    padding: 0.5rem 0.52rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#navTabs a:hover {
    font-weight: bold;
    border-bottom: black solid;

}
.fas:hover{
}

/* Tab Designing */

.headerTabSection{
    height: 25rem;
    width: 30rem;
    background-color: #d3d3d3;
    border-radius: 5%;
 }
 
.headerTabSubSection{
    height: 6%;
    width: 39%;
    margin: auto;
    background-color: #e1e1e1;
    background-image: url("./assets/triangle2.png"),url("./assets/triangle1.png");
    /* background-image: url("./assets/crow.png"); */
    background-position: 100%,0%;
    background-repeat: no-repeat,no-repeat;
    background-size: contain,contain;
    object-fit: fill;
    font-size: small;
    color: #878787;
    display: flex;
    justify-content: center;
    align-self: center;
}
 
.headerTabImage{
    height: 100%;
    width: 100%;
    border-radius: 5%;
    margin-top: 1%;
}
 
/* Tab Designing */

.headerMobTabSection{
    height: 15rem;
    width: 10rem;
    background-color: #d3d3d3;
    border-radius: 5%;
}
 
.headerMobTabSubSection{
    height: 6%;
    width: 39%;
    margin: auto;
    background-color: #e1e1e1;
    background-image: url("./assets/triangle2.png"),url("./assets/triangle1.png");
    /* background-image: url("./assets/crow.png"); */
    background-position: 100%,0%;
    background-repeat: no-repeat,no-repeat;
    background-size: contain,contain;
    object-fit: fill;
    font-size: small;
    color: #878787;
    display: flex;
    justify-content: center;
    align-self: center;
}
 
.headerMobTabImage{
    height: 100%;
    width: 100%;
    border-radius: 5%;
    margin-top: 1%;
}
 

.scrollWatchers{
    height: 10px;
    width: 100%;
    background-color: #000;
    top: 0px;
    position: fixed;
    transform-origin: left;
    transform: scaleX(0);
    animation: scrollWatcherAnimate linear;
    animation-timeline: scroll();
}

@keyframes scrollWatcherAnimate {
    to{
        transform: scale(1);
    }
}

.Name{
    z-index: 10;
    /* text-align: center; */
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    color: #e1e1e1;
    mix-blend-mode: difference;
    padding: 1.5rem 1.5rem;
    font-size: x-large;
    position: fixed;
}

.fa-globe{
    font-size: xxx-large;
    animation: circleBorder1 5s linear infinite;
}

.Header{
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headerImage {
    width: 30rem;
    height: 30rem;
    object-fit: fill;
    border-radius: 5%;
}

.headerImagePart{
    width: 30rem;
    height: 30rem;
    object-fit: fill;
}

.Summary{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5rem;
}

.NameDeveloper{
    background-color: black;
    color: #e1e1e1;
    display: flex;
    align-items: center;
    padding: 0.9rem;
}

.Header h1{
    top: 5rem;
    /* margin-bottom: ; */
    font-size:3.5rem;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
}
/* Name Projects styling Starts */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.word {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transition-delay: var(--delay);
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Name Projects styling ends */

.Projects{
    /* margin-top:25rem; */
    padding-top: 20px;
    /* background-color: rgb(172, 232, 172); */
    height: fit-content;
}

.content{
    font-family: 'Varela Round', sans-serif;
    width: 35rem;
}

.Skills{
    height: 30rem;
}

.Education{
    /* padding: 60px 0; */
    padding: 20px 0;
    font-family: 'Varela Round', sans-serif;
    /* background-color: rgb(199, 240, 252); */
    height: fit-content;
}

.content-wrap{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
}

.singleProject{
    display: flex;
    /* background-color: blue; */
    align-items: center;
}

.singleProject img{
    width: 15rem;
    height: 15rem;
    border: solid 0.5rem;
    border-radius: 0.3rem;
}

/* Animation  */


.animationShow{
    animation: animationShowAnimate both;
    animation-timeline: view(70% 5%);
}
@keyframes animationShowAnimate {
    from{
        opacity: 0;
        transform: translateY(50px) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.animateTitleWords{
    animation: animateTitleWordsAnimation both;
    animation-timeline: view();

}

@keyframes animateTitleWordsAnimation {
    from{
        opacity: 0;
        transform: translateY(50px) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.imgBorder{
    position: relative;
}

.imgBorder::after{
    width: 18rem;
    height:0.5rem;
    background-color: black;
    content: "";
    position: absolute;
    bottom: 0rem;
    left: -1rem;
}

.content{
    padding: 1rem;
}

.links{
    background-color: rgb(109, 143, 254);
    color: white;
    text-decoration: none;
}

.Footer{
    background-color: rgb(231, 232, 231);
    width: 100%;
    padding-bottom: 2rem;
} 

.Footer a:hover{
    cursor: pointer;
    font-weight:bold
}

.contacts{
    display: flex; 
    justify-content: space-around; 
    font-size: 1.5rem;
}

@media only screen and (min-width :279px) and (max-width : 481px){
    html {
        font-size: 70%;
    }
    .Header{
        font-size: medium;
    }
    .singleProject{
        flex-direction: column;
    } 
    
    .singleProject img,.content{
        padding: 0.5rem;
        width: 98%;

    }
    .imgBorder::after{
        width: 113%;
    }
}

@media only screen and (min-width :481px) and (max-width : 769px){
    html {
        font-size: 70%;
    }
    .Header{
        font-size: medium;
    }
    .content-wrap{
        width: 95%;
    }
    
}

@media only screen and (min-width :769px) and (max-width : 1024px){
    html {
        font-size: 90%;
    }
}
