@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    /* font-size: 15px; */
    line-height: 1.5;
    background-color: #e1e1e1;
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;

}

#navTabs{
    z-index: 10;
    text-align: center;
    background-color: transparent; 
    margin: 1rem 2rem;

    position: fixed; /* Make it stick/fixed */
    /* Hide the navbar 50 px outside of the topf view */
    /* bottom: 0px;  */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

#navTabs a {
    text-align: center;
    margin: 1rem 2rem;
    padding: 0.5rem 0.52rem;
    text-decoration: none;
    color: black;
    font-weight: bold;

}

#navTabs a:hover {
    font-weight: bold;
    border-bottom: black solid;

}

.Name{
    z-index: 10;
    /* text-align: center; */

    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    color: #e1e1e1;
    mix-blend-mode: difference;
    padding: 1.5rem 1.5rem;
    font-size: x-large;
}

.fa-globe{
    font-size: xxx-large;
    animation: circleBorder1 5s linear infinite;
}

.Summary{
    font-family: 'Varela Round', sans-serif;
    margin: 15% 10%;
    font-size: 1.5rem;
    display: inline-block;
}

.NameDeveloper{
    background-color: black;
    color: #e1e1e1;
    display: flex;
    align-items: center;
}

.Header h1{

    top: 5rem;
    /* margin-bottom: ; */
    font-size:3.5rem;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
}
/* Name Projects styling Starts */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.word {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transition-delay: var(--delay);
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Name Projects styling ends */

.Projects{
    /* margin-top:25rem; */
    padding-top: 20px;
    /* background-color: rgb(172, 232, 172); */
    height: fit-content;
}

.content{
    font-family: 'Varela Round', sans-serif;
    width: 35rem;
}

.Skills{
    height: 30rem;
}

.Education{
    /* padding: 60px 0; */
    padding: 20px 0;
    font-family: 'Varela Round', sans-serif;
    /* background-color: rgb(199, 240, 252); */
    height: fit-content;
}

.content-wrap{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
}

.singleProject{
    display: flex;
    /* background-color: blue; */
    align-items: center;
}

.singleProject img{
    width: 15rem;
    height: 15rem;
    border: solid 0.5rem;
    border-radius: 0.3rem;
}

.imgBorder{
    position: relative;
}

.imgBorder::after{
    width: 18rem;
    height:0.5rem;
    background-color: black;
    content: "";
    position: absolute;
    bottom: 0rem;
    left: -1rem;
}

.content{
    padding: 1rem;
}

.links{
    background-color: rgb(109, 143, 254);
    color: white;
    text-decoration: none;
}

.Footer{
    background-color: rgb(231, 232, 231);
    width: 100%;
    padding-bottom: 2rem;
} 

.Footer a:hover{
    cursor: pointer;
    font-weight:bold
}

.contacts{
    display: flex; 
    justify-content: space-around; 
    font-size: 1.5rem;
}

@media only screen and (min-width :279px) and (max-width : 481px){
    html {
        font-size: 70%;
    }
    .Header{
        font-size: medium;
    }
    .singleProject{
        flex-direction: column;
    } 
    
    .singleProject img,.content{
        padding: 0.5rem;
        width: 98%;

    }
    .imgBorder::after{
        width: 113%;
    }
}

@media only screen and (min-width :481px) and (max-width : 769px){
    html {
        font-size: 70%;
    }
    .Header{
        font-size: medium;
    }
    .content-wrap{
        width: 95%;
    }
    
}

@media only screen and (min-width :769px) and (max-width : 1024px){
    html {
        font-size: 90%;
    }
}
